<!DOCTYPE html>
<html lang="{% block lang %}en{% endblock %}">
<head>
	<meta charset="UTF-8" />
	<title>
		{% block title %}(Insert Title Here){% endblock %}
		{% if app.debug %}
			- DEV
		{% endif %}
	</title>
	{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ asset('css/jquery-ui.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ asset('css/1140grid/1140.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ asset('css/1140grid/styles.css') }}" />
	{% endblock %}
	{% block javascripts_header %}
		<script src="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
		<script src="{{ asset('js/jquery-ui-1.8.18.custom.min.js') }}"></script>
		<script src="{{ asset('js/css3-mediaqueries.js') }}"></script>
	{% endblock %}
	<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block header %}
	{% include '::header.html.twig' %}
{% endblock %}
{% block flash %}
	{% if app.session.hasFlash('notice') %}
    <div class="flash-notice container">
        "{{ app.session.flash('notice') }}"
    </div>
	{% endif %}
{% endblock %}
{% block body %}{% endblock %}
{% include '::footer.html.twig' %}
{% block javascripts %}{% endblock %}

{# Do some debugging #}
{% if app.debug %}
<div class="container">
	<div class="row">
		<div class="twelvecol last"><hr /><h4>Debug</h4></div>
	</div>
</div>
{% endif %}
</body>
</html>
